<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/main.css">
    <title>Base</title>
</head>

<body>
    <h1>Hello World, use the defined routes to make http requests.</h1>
    <ul>
        <li>
            <p>You can request all the data using GET _dirname/articles</p>
        </li>
        <li>
            <p>You can request all the data using GET _dirname/articles</p>
        </li>
        <li>
            <p>You can create a new entry using POST _dirname/articles with the info</p>
        </li>
        <li>
            <p>You can delete all using DELETE _dirname/articles</p>
        </li>
        <li>
            <p>You can request a specific entry using GET _dirname/articles/nameofthearticle</p>
        </li>
        <li>
            <p>You can delete a specific entry using DELETE _dirname/articles/nameofthearticle</p>
        </li>
        <li>
            <p>You can update PUT a specific entry using PUT _dirname/articles/nameofthearticle and the info</p>
        </li>
        <li>
            <p>You can update PATCH a specific entry using PATCH _dirname/articles/nameofthearticle and the info</p>
        </li>
    </ul>

</body>

</html>